[Unit]
Description=Git Auto Save Timer (3 minutes)
Requires=git-auto-save.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=3min
Persistent=true

[Install]
WantedBy=timers.target